.navbar {
  margin-left: 0px;
  display: flex;
  flex-direction: row;
  height: 7vh;
  justify-content: space-between;
}

.navbar_left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.show {
  visibility: visible;
}

.hide {
  visibility: hidden;
}

.h2_text {
  font-weight: 400;
}

.navbar_right {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
  justify-content: space-between;
  margin-top: 15px;
  align-self: right;
}

.nav-searchIcon {
  color: gray;
  size: 1px;
  padding-top: 5px;
  padding-left: 5px;
}

.nav-searchInput {
  font-size: 16px;
  width: 100%;
  background-color: #f5f8f9;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: white;
}

.nav_search {
  display: flex;
  border: 1px solid;
  border-radius: 20px;
  border-color: #7f8891;
  padding: 1px;
  width: 200px;
  height: 30px;
  align-items: center;
  position: relative;
  transition: width 0.2s ease;
  margin-right: 10px;
}

.nav_search_click {
  width: 400px !important;
}

.avatar {
  margin-right: 10px;
  margin-left: 15px;
  margin-bottom: 20px;
}
