.sidebar {
  width: 240px;
  height: 100vh;
  background-color: black;
  flex-direction: column;
  display: visible;
  transition: width 0.15s ease-in-out;
  z-index: 5;
}

.sidebar_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
}

.logo_img {
  width: 100px;
  margin-left: 10px;
}

.sidebar_body {
  display: flex;
}

.option {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.icon_text {
  position: relative;
  margin-left: 5px;
  font-weight: normal;
  color: rgb(180, 177, 177);
}

.icon {
  color: rgb(180, 177, 177);
  margin-left: 25px;
}

.show_sidebar {
  transition: width 0.25s ease-in-out;
  visibility: hidden;
  width: 0px;
  font-size: 0;
}

.option_card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: rgb(221, 218, 218);
  padding: 18px;
  margin-top: 10px;
  align-items: center;
  transition: all 0.5s ease;
}

.option_card:hover {
  background-color: rgb(83, 83, 83);
  transition: all 0.5s ease;
}

*:link {
  text-decoration: none;
}
